<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <dllmap dll="physfs" os="windows" target="physfs.dll" />
	<dllmap dll="physfs" os="osx" target="libphysfs.dylib"/>
	<dllmap dll="physfs" os="linux,freebsd,netbsd" target="libphysfs.so"/>
	<dllmap dll="physfs" os="openbsd" target="libphysfs.so"/>
</configuration>
